<!DOCTYPE html>
<html>
<head>
    <title>CI/CD pipeline</title>
    <style>
        body {
            background-color: #1e1e2f;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial;
        }
        h1 {
            color: #00d4ff;
        }
    </style>
</head>
<body>
    <h1>Hello from CI/CD pipeline 🚀 Project</h1>
    <!-- <p>This is a simple Flask application deployed using CI/CD pipeline.</p> -->
</body>
</html>